html,body{
    padding: 20px;
    background: #eee;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Microsoft Yahei', sans-serif;
}
h1,h2,h3,h4 {
    padding: 5px 0;
}
h4{
    color:#423434c9;
}
p {
    font-size: 15px;
    background: #797979;
    padding: 10px;
    border-radius: 5px;
    color: white;
    line-height: 2;
}
.block{
    width: 100%;
    border-radius: 15px;
    background: rgba(158,158,158,0.15);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.box{
    background: #fff;
    display: flex;
    margin: 0 0 55px;
}
.box-item {
	width: 150px;
	height: 150px;
	line-height: 150px;
	vertical-align: middle;
	margin: 5px;
	background-color: #ffd200;
	font-size: 100px;
	color: white;
	text-align: center;
}
.box-1-1 {
	flex-direction: row;
}
.box-1-2 {
	flex-direction: row-reverse;
}
.box-1-3 {
	flex-direction: column;
}
.box-1-4 {
	flex-direction: column-reverse;
}

.box-2-1 {
	flex-wrap: nowrap;
}
.box-2-2 {
	flex-wrap: wrap;
}
.box-2-3 {
	flex-wrap: wrap-reverse;
}
.box-3{
    flex-flow: row nowrap;
}
.box-4-1{
    justify-content:flex-start;
}
.box-4-2{
    justify-content:flex-end;
}
.box-4-3{
    justify-content:center;
}
.box-4-4{
    justify-content:space-between;
}
.box-4-5{
    justify-content:space-around;
}
.item-tall {
	height: 400px;
	line-height: 400px;
}
.box-5-1 {
	align-items: flex-start;
}
.box-5-2 {
	align-items: flex-end;
}
.box-5-3 {
	align-items: center;
}
.box-5-4{
    align-items: baseline;
}
.box-5-4 .box-item{
	font-size: 88px;
	line-height: initial;
	text-decoration: underline;
}
.box-5-4 .item-tall{
	font-size: 122px;
	line-height: initial;
}
.box-5-5 {
	align-items: stretch;
}
.box-5-5 .box-item {
	height: auto;
}
.box-tall {
	height: 800px;
}
.box-6-1 {
	flex-wrap: wrap;
	align-content: flex-start;
}
.box-6-2 {
	flex-wrap: wrap;
	align-content: flex-end;
}
.box-6-3 {
	flex-wrap: wrap;
	align-content: center;
}
.box-6-4 {
	flex-wrap: wrap;
	align-content: space-between
}
.box-6-5 {
	flex-wrap: wrap;
	align-content: space-around;
}
.box-6-6 {
	flex-wrap: wrap;
	align-content: stretch;
}
.box-6-6 .box-item {
	height: auto;
}
.box-7 .order {
	order: -1;
}
.box-7 .box-item div{
	font-size: 14px;
	position: relative;
    bottom: 90px;
    color: #9236f4;
}
.box-8 .box-item div{
    font-size: 14px;
	position: relative;
    bottom: 90px;
    color: #9236f4;
}
.box-8 .grow{
    flex-grow: 1;
    width: auto;
}
.box-8	.grow-2 {
	flex-grow: 2;
}
.box-9 .box-item div{
    font-size: 14px;
	position: relative;
    bottom: 90px;
    color: #9236f4;
}
.box-9 .box-item {
	width: 400px;
}
.box-9 .shrink{
	flex-shrink: 0;
}
.box-10 .box-item {
	flex-basis: 200px;
	width: 400px; /* width 将失去作用*/
}
.box-11 {
	height: 400px;
}

.box-11 .box-item {
	align-self: flex-start;
}

.box-11 .box-item div{
    font-size: 14px;
	position: relative;
    bottom: 90px;
    color: #9236f4;
}

.box-11 .end {
	align-self: flex-end;
}